/**
 * ==================================================================================================
 * STYLES-RESPONSIVE.CSS
 * ==================================================================================================
 * Author: Kaitlin Kidd
 * Date: 01.27.17
 * Purpose: Media queries for website.
 * Notes:
 * --- PX to EM calculator: http://pxtoem.com/ (base of 16px)
 * --- W3C CSS Validation: http://jigsaw.w3.org/css-validator/#validate_by_uri
 * --- Bootstrap Media Queries: https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
 * --------------------------------------------------------------------------------------------------
 * Revision History
 * --------------------------------------------------------------------------------------------------
 * Date          Revision Description                                                     Modified By
 * --------------------------------------------------------------------------------------------------
 * 09.15.2016 - Created Original Document                                                      KAK
 * 01.27.2017 - Optimized media queries                                                          KAK
 * ==================================================================================================
 *
 * --- Contents ---
 * 00. Defaults
 * 01. Universal
 * 02. Hero
 * 03. Dividers
 * 04. Experience
 * 05. Skills
 * 06. Projects
 * 07. About Me
 * 08. Contact
 * 09. Footer
 * 10. Scroller
 * 11. Waypoints
 *
 * --- Media Queries ---
 * iPhone 6 - 320px
 * Extra Small Devices - 480px
 * Small Devices - 768px
 * Medium Devices - 992px
 * Large Devices - 1200px
* Extra Large Devices - 1366px
 */
/* ----------========= Mobile First Method =========----- */
/* .......----------======================================----------........
===================== iPhone 6 - 375px =======================
.......----------======================================----------........ */
 @media only screen and (min-width : 375px) {
   /*************************
    * 01. Universal
    *************************/
     .title {
       font-size: 26px;
     }

     /*************************
    * 02. Hero
    *************************/
    #heroLogo {
      width: 70%;
    }

    #hero .title {
      font-size: 28px;
    }

    #githubBtn {
      padding: 10px 30px;
    }

    #resumeBtn {
      padding: 10px 30px;
    }

    #linkedinBtn {
      padding: 10px 20px;
    }

    /*************************
     * 03. Dividers
     *************************/
     .divider-title {
       margin: 175px auto;
       color: #fff;
       font-size: 22px;
       width: 80%;
     }

     /*************************
      * 04. Experience
      *************************/
      #experience {
        padding-left: 0px;
        padding-right: 0px;
      }

      #experienceHr {
        margin-bottom:50px;
      }

      #experience h4 {
        font-size: 14px;
      }

      #experience h5 {
        font-size: 13px;
      }

      #experience h6 {
        font-size: 12px;
      }

      .experience-item {
        padding: 0px;
      }

      #positionOne {
        font-size: 14px;
      }

      #positionTwo {
        font-size: 14px;
      }

      #positionThree {
        font-size: 14px;
      }

      #positionFour {
        font-size: 14px;
      }

      /*************************
       * 05. Skills
       *************************/
       #skillsHr {
         margin-bottom:50px;
       }

       /*************************
       * 06. Projects
       *************************/
       #projectsHr {
         margin-bottom:50px;
       }

       #projects h4 {
         font-size: 13px;
       }

       #projects p {
         font-size: 11px;
       }

       .project-item {
        padding-bottom: 20px;
      }

      #project1 {
        background-size: 275px 190px;
      }

      #project2 {
        background-size: 275px 190px;
      }

      #project3 {
        background-size: 275px 190px;
      }

  /*************************
   * 07. About Me
   *************************/
   #aboutmeHr {
     margin-bottom:10px;
   }

   #greetingOne {
     padding-top: 20px;
     font-size: 25px;
   }

   #greetingTwo {
     padding-top: 40px;
     font-size: 25px;
   }

   /*************************
    * 08. Contact
    *************************/
    #contactHr {
        margin-bottom:10px;
      }

      .contact-info {
          font-size: 13px;
      }

      .contact-tag {
          font-size: 12px;
      }
  }

 /* .......----------======================================----------........
 =============== Extra Small Devices - 480px ====================
 .......----------======================================----------........ */
 @media only screen and (min-width : 480px) {
   /*************************
    * 01. Universal
    *************************/
     .title {
       font-size: 30px;
     }

     /*************************
    * 02. Hero
    *************************/
    #heroLogo {
      width: 50%;
      padding-top: 30px;
    }

    #hero .title {
      font-size: 28px;
    }

    #githubBtn {
      padding: 10px 30px;
    }

    #resumeBtn {
      padding: 10px 30px;
    }

    #linkedinBtn {
      padding: 10px 20px;
    }

    /*************************
     * 03. Dividers
     *************************/
     .divider-title {
       margin: 175px auto;
       color: #fff;
       font-size: 28px;
       width: 80%;
     }

     /*************************
      * 04. Experience
      *************************/
      #experience {
        padding-left: 0px;
        padding-right: 0px;
      }

      .experience-item {
        padding: 0px;
      }

      #experience h4 {
        font-size: 15px;
      }

      #positionOne {
        padding-left: 0px;
        font-size: 14px;
      }

      #positionTwo {
        padding-left: 0px;
        font-size: 14px;
      }

      #positionThree {
        padding-left: 0px;
        font-size: 14px;
      }

      #positionFour {
        padding-left: 0px;
        font-size: 14px;
      }

      /*************************
       * 05. Skills
       *************************/
       #skillsHr {
         margin-bottom: 50px;
       }

       #skills h6 {
         font-size: 15px;
       }

        #setOne {
         margin-left: 70px;
       }

       #setTwo {
         margin-left: 70px;
       }

       #setThree {
         margin-left: 70px;
       }

       /*************************
       * 06. Projects
       *************************/
       #projectsHr {
         margin-bottom: 40px;
       }

       #projects h4 {
         font-size: 15px;
       }

       #projects p {
         font-size: 13px;
       }

       .project-item {
        padding-bottom: 20px;
      }

      #project1 {
        background-size: 430px 200px;
      }

      #project2 {
        background-size: 430px 200px;
      }

      #project3 {
        background-size: 430px 240px;
      }

      /*************************
       * 07. About Me
       *************************/
       #aboutmeHr {
         margin-bottom: 0px;
       }

       #headshot {
         width: 60%;
         padding-top: 30px;
       }

       #greetingOne {
         padding-top: 20px;
         font-size: 30px;
       }

       #greetingTwo {
         padding-top: 40px;
         font-size: 30px;
       }

       #aboutMe p {
         font-size: 13px;
       }

       /*************************
        * 08. Contact
        *************************/
         .contact-item {
           padding-left: 100px;
           padding-bottom: 0px;
         }

         .contact-info {
             font-size: 13px;
         }

         .contact-tag {
             font-size: 15px;
         }
 }

   /* .......----------======================================----------........
   =================  Small Devices - 768px ======================
   .......----------======================================----------........ */
   @media only screen and (min-width : 768px) {
     /*************************
      * 01. Universal
      *************************/
       .title {
         font-size: 30px;
         font-weight: 500;
       }

       /*************************
    * 02. Hero
    *************************/
    #heroLogo {
      width: 38%;
      padding-top: 0px;
    }

    #hero .title {
      font-size: 34px;
      font-weight: 500;
    }

    #githubBtn {
      padding: 15px 40px;
    }

    #resumeBtn {
      padding: 15px 40px;
    }

    #linkedinBtn {
      padding: 15px 40px;
    }

    /*************************
     * 03. Dividers
     *************************/
      .divider-title {
        margin: 175px auto;
        color: #fff;
        width: 90%;
      }

      /*************************
       * 04. Experience
       *************************/
       #experience h4 {
         font-size: 17px;
       }

       #experience h5 {
         font-size: 16px;
       }

       #experience h6 {
         font-size: 15px;
       }

       #positionOne {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionTwo {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionThree {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionFour {
         padding-left: 0px;
         font-size: 18px;
       }

       /*************************
        * 05. Skills
        *************************/
        #skillsHr {
          margin-bottom: 50px;
        }

        #skills h6 {
          font-size: 20px;
        }

         #setOne {
          margin-left: 190px;
        }

        #setTwo {
          margin-left: 190px;
        }

        #setThree {
          margin-left: 190px;
        }

        /*************************
        * 06. Projects
        *************************/
        #projectsHr {
          margin-bottom: 50px;
        }

        #projects h4 {
          font-size: 17px;
        }

        #projects p {
          font-size: 13px;
        }

        .project-item {
         padding-bottom: 20px;
       }

       #project1 {
         background-size: 690px 500px;
       }

       #project2 {
         background-size: 700px 500px;
       }

       #project3 {
         background-size: 700px 500px;
       }

       /*************************
        * 07. About Me
        *************************/
        #aboutmeHr {
          margin-bottom: 0px;
        }

        #headshot {
          width: 50%;
          padding-top: 30px;
        }

        #greetingOne {
          padding-top: 20px;
          font-size: 30px;
        }

        #greetingTwo {
          padding-top: 40px;
          font-size: 30px;
        }

        #aboutMe p {
          font-size: 15px;
        }

        /*************************
         * 08. Contact
         *************************/
         #contactHr {
           margin-bottom: 30px;
         }

           .contact-item {
            padding-left: 0px;
            padding-bottom: 0px;
          }

          .contact-info {
              font-size: 13px;
          }

          .contact-tag {
              font-size: 15px;
          }
   }

   /* .......----------======================================----------........
   =================  Medium Devices - 992px =====================
   .......----------======================================----------........ */
   @media only screen and (min-width : 992px) {
     /*************************
      * 01. Universal
      *************************/
       .title {
         font-size: 30px;
         font-weight: 500;
       }

       /*************************
    * 02. Hero
    *************************/
    #heroLogo {
      width: 28%;
      padding-top: 0px;
    }

    #hero .title {
      font-size: 34px;
      font-weight: 500;
    }

    #heroSubtitle {
      font-size: 16px;
    }

    #heroDescription {
      font-size: 14px;
    }

    #githubBtn {
      padding: 15px 40px;
    }

    #resumeBtn {
      padding: 15px 40px;
    }

    #linkedinBtn {
      padding: 15px 40px;
    }

    /*************************
     * 03. Dividers
     *************************/
      .divider-title {
        margin: 175px auto;
        color: #fff;
        width: 100%;
      }

      /*************************
       * 04. Experience
       *************************/
       #experience h4 {
         font-size: 17px;
       }

       #experience h5 {
         font-size: 15px;
       }

       #experience h6 {
         font-size: 13px;
       }

       #positionOne {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionTwo {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionThree {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionFour {
         padding-left: 0px;
         font-size: 18px;
       }

       /*************************
        * 05. Skills
        *************************/
        #skillsHr {
          margin-bottom: 50px;
        }

        #skills h6 {
          font-size: 13px;
        }

         #setOne {
          margin-left: 0px;
        }

        #setTwo {
          margin-left: 0px;
        }

        #setThree {
          margin-left: 0px;
        }

        /*************************
        * 06. Projects
        *************************/
        #projectsHr {
          margin-bottom: 50px;
        }

        #projects h4 {
          font-size: 16px;
        }

        #projects p {
          font-size: 12px;
        }

        .project-item {
         padding-bottom: 20px;
       }

       #project1 {
         background-size: 270px 200px;
       }

       #project2 {
         background-size: 270px 200px;
       }

       #project3 {
         background-size: 270px 200px;
       }

       /*************************
        * 07. About Me
        *************************/
        #aboutmeHr {
          margin-bottom: 0px;
        }

        #headshot {
          width: 80%;
          padding-top: 30px;
        }

        #greetingOne {
          padding-top: 20px;
          font-size: 30px;
        }

        #greetingTwo {
          padding-top: 40px;
          font-size: 30px;
        }

        #aboutMe p {
          font-size: 15px;
        }

        /*************************
         * 08. Contact
         *************************/
         #contactHr {
           margin-bottom: 30px;
         }

           .contact-item {
            padding-left: 0px;
            padding-bottom: 0px;
          }

          .contact-info {
              font-size: 14px;
          }

          .contact-tag {
              font-size: 16px;
          }

   }

   /* .......----------======================================----------........
   =================  Large Devices - 1200px =====================
   .......----------======================================----------........ */
   @media only screen and (min-width : 1200px) {
     /*************************
      * 01. Universal
      *************************/
       .title {
         font-size: 30px;
         font-weight: 500;
       }

       /*************************
    * 02. Hero
    *************************/
    #heroLogo {
      width: 23%;
      padding-top: 0px;
    }

    #hero .title {
      font-size: 34px;
      font-weight: 500;
    }

    #heroSubtitle {
      font-size: 16px;
    }

    #heroDescription {
      font-size: 14px;
    }

    #githubBtn {
      padding: 15px 40px;
    }

    #resumeBtn {
      padding: 15px 40px;
    }

    #linkedinBtn {
      padding: 15px 40px;
    }

    /*************************
     * 03. Dividers
     *************************/
      .divider-title {
        margin: 175px auto;
        color: #fff;
        width: 100%;
        font-size: 30px;
      }

      /*************************
       * 04. Experience
       *************************/
       #experience h4 {
         font-size: 17px;
       }

       #experience h5 {
         font-size: 15px;
       }

       #experience h6 {
         font-size: 13px;
       }

       #positionOne {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionTwo {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionThree {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionFour {
         padding-left: 0px;
         font-size: 18px;
       }

       /*************************
        * 05. Skills
        *************************/
        #skillsHr {
          margin-bottom: 50px;
        }

        #skills h6 {
          font-size: 15px;
        }

         #setOne {
          margin-left: 10px;
        }

        #setTwo {
          margin-left: 10px;
        }

        #setThree {
          margin-left: 10px;
        }

        /*************************
        * 06. Projects
        *************************/
        #projectsHr {
          margin-bottom: 50px;
        }

        #projects h4 {
          font-size: 16px;
        }

        #projects p {
          font-size: 12px;
        }

        .project-item {
         padding-bottom: 20px;
       }

       #project1 {
         background-size: 350px 200px;
       }

       #project2 {
         background-size: 350px 200px;
       }

       #project3 {
         background-size: 350px 200px;
       }

       /*************************
        * 07. About Me
        *************************/
        #aboutmeHr {
          margin-bottom: 0px;
        }

        #headshot {
          width: 80%;
          padding-top: 30px;
        }

        #greetingOne {
          padding-top: 20px;
          font-size: 30px;
        }

        #greetingTwo {
          padding-top: 40px;
          font-size: 30px;
        }

        #aboutMe p {
          font-size: 15px;
        }

        /*************************
         * 08. Contact
         *************************/
         #contactHr {
           margin-bottom: 30px;
         }

           .contact-item {
            padding-left: 0px;
            padding-bottom: 0px;
          }

          .contact-info {
              font-size: 14px;
          }

          .contact-tag {
              font-size: 16px;
          }
   }

   /* .......----------======================================----------........
   =============  Extra Large Devices - 1366px =====================
   .......----------======================================----------........ */
   @media only screen and (min-width : 1366px) {
     /*************************
      * 01. Universal
      *************************/
       .title {
         font-size: 36px;
         font-weight: 500;
       }

       /*************************
    * 02. Hero
    *************************/
    #heroLogo {
      width: 28%;
      padding-top: 40px;
    }

    #hero .title {
      font-size: 38px;
      font-weight: 500;
    }

    #heroSubtitle {
      font-size: 20px;
    }

    #heroDescription {
      font-size: 16px;
    }

    #githubBtn {
      padding: 18px 44px;
    }

    #resumeBtn {
      padding: 18px 44px;
    }

    #linkedinBtn {
      padding: 18px 44px;
    }

    /*************************
     * 03. Dividers
     *************************/
      .divider-title {
        margin: 175px auto;
        color: #fff;
        width: 100%;
        font-size: 36px;
      }

      #dividerThree {
        background: linear-gradient(rgba(55, 63, 81, 0.9), rgba(55, 63, 81, 0.9)), url("../img/hero.jpg") center no-repeat fixed;
      }

      /*************************
       * 04. Experience
       *************************/
       #experienceHr {
         padding-bottom: 50px;
       }

       #experience h4 {
         font-size: 17px;
       }

       #experience h5 {
         font-size: 15px;
       }

       #experience h6 {
         font-size: 13px;
       }

       #positionOne {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionTwo {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionThree {
         padding-left: 0px;
         font-size: 18px;
       }

       #positionFour {
         padding-left: 0px;
         font-size: 18px;
       }

       /*************************
        * 05. Skills
        *************************/
        #skillsHr {
          margin-bottom: 70px;
        }

        #skills h6 {
          font-size: 17px;
        }

         #setOne {
          margin-left: 45px;
        }

        #setTwo {
          margin-left: 45px;
        }

        #setThree {
          margin-left: 45px;
        }

        /*************************
        * 06. Projects
        *************************/
        #projectsHr {
          margin-bottom: 70px;
        }

        #projects h4 {
          font-size: 16px;
        }

        #projects p {
          font-size: 12px;
        }

        .project-item {
         padding-bottom: 20px;
       }

       #project1 {
         background-size: 400px 200px;
       }

       #project2 {
         background-size: 400px 200px;
       }

       #project3 {
         background-size: 400px 200px;
       }

       /*************************
        * 07. About Me
        *************************/
        #aboutmeHr {
          margin-bottom: 0px;
        }

        #headshot {
          width: 80%;
          padding-top: 30px;
        }

        #greetingOne {
          padding-top: 20px;
          font-size: 30px;
        }

        #greetingTwo {
          padding-top: 40px;
          font-size: 30px;
        }

        #aboutMe p {
          font-size: 15px;
        }

        /*************************
         * 08. Contact
         *************************/
         #contactHr {
           margin-bottom: 30px;
         }

           .contact-item {
            padding-left: 0px;
            padding-bottom: 0px;
          }

          .contact-info {
              font-size: 14px;
          }

          .contact-tag {
              font-size: 16px;
          }

          #contact .animation-elements {
            opacity: 1;
            animation-delay: 0.5s;
            -webkit-animation-delay: 0.5s;
          }
   }
