/**
 * ==================================================================================================
 * STYLES.CSS
 * ==================================================================================================
 * Author: Kaitlin Kidd
 * Date: 01.27.17
 * Purpose: Main styles for website.
 * Notes:
 * --- PX to EM calculator: http://pxtoem.com/ (base of 16px)
 * --- W3C CSS Validation: http://jigsaw.w3.org/css-validator/#validate_by_uri
 * --------------------------------------------------------------------------------------------------
 * Revision History
 * --------------------------------------------------------------------------------------------------
 * Date          Revision Description                                                     Modified By
 * --------------------------------------------------------------------------------------------------
 * 09.15.2016 - Created Original Document                                                      KAK
 * 01.27.2017 - Optimized media queries                                                          KAK
 * ==================================================================================================
 *
 * - Contents -
 * 00. Defaults
 * 01. Universal
 * 02. Hero
 * 03. Dividers
 * 04. Experience
 * 05. Skills
 * 06. Projects
 * 07. About Me
 * 08. Contact
 * 09. Footer
 * 10. Scroller
 * 11. Waypoints
 *
 */

/*************************
 * 00. Defaults
 *************************/
  body, html {
    height: 100%;
    margin: 0;
    background: #d8dbe2;
    font: normal 1em/1.45 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    color: #58585a;
  }

  header {
    margin: 50px;
  }

  hr {
    border: 0;
    border-top: 5px solid #58585a;
    width: 10%;
  }

/*************************
 * 01. Universal
 *************************/
  .hr-icon {
    border: 0;
    border-top: 5px solid #58585a;
    width: 7%;
  }

  .title {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #58585a;
    font-size: 32px;
  }

/*************************
 * 02. Hero
 *************************/
  #hero {
    margin-top: 70px;
    width: 100%;
    height: 100vh;
  }

  #heroLogo {
    width: 22%;
  }

  #heroSubtitle {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    color: #6f7983;
    font-size: 16px;
  }

  #heroDescription {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    color: #6f7983;
    font-size: 14px;
  }

  #heroButtons {
    margin-top: -40px;
  }

  #heroScroll {
    padding-top: 10px;
  }

  #githubBtn {
    text-decoration: none;
    background: #373f51;
    padding: 15px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 60px 0 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px #262c38;
    -moz-box-shadow: 0px 3px 0px 0px #262c38;
    box-shadow: 0px 3px 0px 0px #262c38;
  }

  #githubBtn:hover {
    text-decoration: none;
    background: #5e6573;
    color: #fff;
  }

  #resumeBtn {
    text-decoration: none;
    background: #58a4b0;
    padding: 15px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 60px 0 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px #4f939e;
    -moz-box-shadow: 0px 3px 0px 0px #4f939e;
    box-shadow: 0px 3px 0px 0px #4f939e;
  }

  #resumeBtn:hover {
    text-decoration: none;
    background: #8abfc7;
    color: #fff;
  }

  #linkedinBtn {
    text-decoration: none;
    background: #daa49a;
    padding: 15px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 60px 0 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px #ae837b;
    -moz-box-shadow: 0px 3px 0px 0px #ae837b;
    box-shadow: 0px 3px 0px 0px #ae837b;
  }

  #linkedinBtn:hover {
    text-decoration: none;
    background: #e1b6ae;
    color: #fff;
  }

  #downArrow {
    text-decoration: none;
    background: #a1a9b0;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 20px 0 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px #80878c;
    -moz-box-shadow: 0px 3px 0px 0px #80878c;
    box-shadow: 0px 3px 0px 0px #80878c;
  }

  #downArrow:hover {
    text-decoration: none;
    background: #b3babf;
    color: #fff;
  }

  #downArrow:visited {
    color: #fff;
  }

/*************************
 * 03. Dividers
 *************************/
  #dividerOne {
    height: auto;
    min-height: 500px;
    background: linear-gradient(rgba(55, 63, 81, 0.9), rgba(55, 63, 81, 0.9)), url("../img/hero2.jpg") center no-repeat fixed;
  }

  #dividerTwo {
    height: auto;
    min-height: 500px;
    background: linear-gradient(rgba(55, 63, 81, 0.9), rgba(55, 63, 81, 0.9)), url("../img/hero3.jpg") center no-repeat fixed;
  }

  #dividerThree {
    height: auto;
    min-height: 500px;
    background: linear-gradient(rgba(55, 63, 81, 0.9), rgba(55, 63, 81, 0.9)), url("../img/hero.jpg") center no-repeat fixed;
  }

  #dividerFour {
    height: auto;
    min-height: 500px;
    background: linear-gradient(rgba(55, 63, 81, 0.9), rgba(55, 63, 81, 0.9)), url("../img/hero4.jpg") center no-repeat fixed;
  }

  #dividerFive {
    height: auto;
    min-height: 500px;
    background: linear-gradient(rgba(55, 63, 81, 0.9), rgba(55, 63, 81, 0.9)), url("../img/hero5.png") center no-repeat fixed;
  }

  .divider-title {
    margin: 175px auto;
    color: #fff;
  }

/*************************
 * 04. Experience
 *************************/
 #experience {
   height: auto;
   min-height: 500px;
   padding: 50px;
   width: 100%;
 }

  #jpm {
    animation-delay: 0.5s;
  }

  #jpmIcon {
    color: #373f51;
    text-align: center;
  }

  #ld {
    animation-delay: 1s;
  }

  #ldIcon {
    color: #58a4b0;
    text-align: center;
  }

  #usf {
    animation-delay: 1.5s;
  }

  #usfIcon {
    color: #daa49a;
    text-align: center;
  }

  #rj {
    animation-delay: 2s;
  }

  #rjIcon {
    color: #a1a9b0;
    text-align: center;
  }

  .experience-item {
    color: #58585a;
    height: 100%;
    min-height: 300px;
    width: 100%;
    max-width: 350px;
  }

  .company {
    text-align: center;
  }

  .position {
    text-align: center;
    font-style: italic;
  }

  .location {
    text-align: center;
  }

  .marker {
    text-align: center;
    color: #58585a;
  }

/*************************
 * 05. Skills
 *************************/
   #skills {
     height: auto;
     min-height: 500px;
     padding: 50px;
     width: 100%;
   }

  #skillSetOne {
    color: #373f51;
    text-align: center;
  }

  #skillSetTwo {
    color: #58a4b0;
    text-align: center;
  }

  #skillSetThree {
    color: #daa49a;
    text-align: center;
  }

  #skillsWeb {
    animation-delay: 0.5s;
  }

  #skillsDev {
    animation-delay: 1s;
  }

  #skillsManagement {
    animation-delay: 1.5s;
  }

  canvas {
    width: 100% !important;
    max-width: 300px;
    height: auto !important;
  }

/*************************
 * 06. Projects
 *************************/
   #projects {
     height: auto;
     min-height: 600px;
     padding: 50px;
     width: 100%;
   }

  .project-item {
    animation-delay: 0.5s;
  }

  #overlay {
    background:rgba(55,63,81,.75);
    text-align:center;
    padding:45px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
  }

  #view {
    font-family:Helvetica;
    font-weight:900;
    color:rgba(255,255,255,.85);
    font-size:56px;
  }

  #project1 {
    border: 3px solid #a1a9b0;
    background: url("../img/search-the-stars.png");
    background-size: 370px 190px;
  }

  #project1:hover #overlay {
    opacity:1;
  }

  #project2 {
    border: 3px solid #a1a9b0;
    background: url("../img/minerals.png");
    background-size: 400px 190px;
  }

  #project2:hover #overlay {
    opacity:1;
  }

  #project3 {
    border: 3px solid #a1a9b0;
    background: url("../img/student-loan-calculator.png");
    background-size: 380px 190px;
  }

  #project3:hover #overlay {
    opacity:1;
  }

  .item-work img{
      display: block;
      height: auto;
      width: 100%;
  }
  .item-work .hover{
      position: relative;
      overflow: hidden;
  }
  .item-work .info-work{
      font-size: 14px;
      padding: 10px 5px;
      background: #fff;
      border:solid 1px #cdcdcd;
      border-top: 0;
      text-align: center;
  }
  .item-work .info-work h4{
      padding: 0;
      font-weight: 300;
  }
  .item-work .info-work p{
      font-size: 13px;
      line-height: 23px;
      margin-bottom: 20px;
  }
  .item-work .info-work .icons-work{
      display: inline;
      padding: 12px 20px;
  }
  .item-work  .info-work i{
      padding: 0 5px;
      color: #131313;
      font-size: 16px;
  }
  .item-work  .info-work i:hover{
      cursor: pointer;
  }
  .overlay{
      position: absolute;
      left: 0;
      top: 0px;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      transition: 0.3s all ease;
  }
  .item-work:hover .overlay{
      opacity: 1;
      cursor: pointer;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -ms-transition: 0.3s all ease;
      transition: 0.3s all ease;
  }
  .projects-container .item-work{
      margin-bottom: 30px;
  }

/*************************
 * 07. About Me
 *************************/
   #aboutMe {
     height: auto;
     min-height: 500px;
     padding: 50px;
     width: 100%;
     text-align: center;
   }

  #greetingOne {
    padding-top: 20px;
    font-size: 30px;
  }

  #greetingTwo {
    padding-top: 40px;
    font-size: 30px;
  }

  #aboutMe p {
    font-size: 14px;
  }

  #headshot {
    width: 80%;
  }

  #bio {
    animation-delay: 0.5s;
  }

  #pic {
    animation-delay: 1s;
  }

  #update {
    animation-delay: 1.5s;
  }

/*************************
 * 08. Contact
 *************************/
   #contact {
     height: auto;
     min-height: 430px;
     padding: 50px;
     width: 100%;
   }

  #locationIcon {
      color: #373f51;
      text-align: center;
  }

  #emailIcon {
      color: #58a4b0;
      text-align: center;
  }

  #phoneIcon {
      color: #daa49a;
      text-align: center;
  }

  #emailLink {
      text-decoration: none;
      color: #58585a;
  }

  .contact-item {
      color: #58585a;
      padding: 25px;
      height: 100%;
      min-height: 250px;
      width: 100%;
      max-width: 350px;
  }

  .contact-info {
      text-align: center;
      font-size: 15px;
  }

  .contact-tag {
      text-align: center;
      font-size: 18px;
      padding-bottom: 20px;
  }

  #location {
      animation-delay: 0.5s;
  }

  #email {
      animation-delay: 1s;
  }

  #phone {
      animation-delay: 1.5s;
  }

/*************************
 * 09. Footer
 *************************/
  footer a {
      color: #a1a9b0;
  }

  footer {
      background-color: #373f51;
      padding: 40px 0 30px;
  }

  footer p {
      color: #fff;
  }

  .copyright {
      text-align: left;
      color: #a1a9b0;
  }

  .social {
      text-align: right;
  }

  .social-icons {
      color: #a1a9b0;
      margin-right: 20px;
  }

/*************************
 * 10. Scroller
 *************************/
  #scroll {
    width: 50px;
    height: 50px;
    position: fixed;
    right:10px;
    bottom: 10px;
    background-color: #a1a9b0;
    cursor: pointer;
    display: none;
    text-indent: -9999px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
  }

  #scroll span {
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }

  #scroll:hover {
    background-color: #b3babf;
    opacity: 1;
  }

/*************************
 * 11. Animation
 *************************/
  .bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
      visibility: visible;
  }

  .delay-05s {
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
  }

  .animation-elements{
      opacity: 0;
  }

  .animation-elements-two{
      opacity: 0;
  }
